# OS files
.DS_Store
Thumbs.db

# Python bytecode and cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
.venv/
env/
venv/
ENV/

# Jupyter Notebook checkpoints (if you use notebooks)
.ipynb_checkpoints/

# Logs and temp files
*.log
*.tmp

# Build / packaging
*.egg-info/
dist/
build/

# Keep CSV and Python files
!*.csv
!*.py
